/***********************/
/* GENERAL *************/
/***********************/


/***********************/
/* LISTADO DIRECTORIOS */
/***********************/
#listadoDirectorios a {
  display: block;
  background-color: #ffffff;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
}

#listadoDirectorios a:hover {
  background-color: #eeeeee;
}


/***********************/
/* LISTADO CONTENIDOS */
/***********************/
#listadoContenidos a {
  display: block;
  background-color: #ffffff;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
}

#listadoContenidos a:hover {
  background-color: #eeeeee;
}

#listadoContenidos a > span {
  display: inline-block;
}

#listadoContenidos a > span:nth-child(1) { width: 60%; }
#listadoContenidos a > span:nth-child(2) { width: 20%; }
#listadoContenidos a > span:nth-child(3) { width: 10%; }
#listadoContenidos a > span:nth-child(5) { width: 10%; text-align: center; }